body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

.search-container {
    display: flex;
    align-items: center;
}

#search-input {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 7px 0 0 7px;
}

#search-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0056b3;
}

/**hero-section**/
.hero-section{
    background-image: url("../patient\ pic/im9.jpg");
    height: 600px;
    width: 1520px;
    border-radius: 20px;
    justify-content: center;

}

h2{
    text-align: center;

}
/** home section **/
.home-section{
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
    background-color: #fff;
    
    
}
.box{
    height: 300px;
    border: 2px solid black;
    width: 23%;
    border-radius: 30px;
    background-color: #ccc;
    
}
.box-content .h2{
    text-align: center;
}
.box-img1{

    height: 226px;
    width: 345px;
    align-content: center;
    background-image: url("../patient\ pic/ima3.png");
    justify-content: center;
    border-radius: 15px;
}
.box-img2{
    height: 200px;
    width: 350px;
    align-content: center;
    background-image: url("../patient\ pic/ima5.jpg");
    justify-content: center;
    border-radius: 15px;
}
.box-img3{
    height: 200px;
    width: 350px;
    align-content: center;
    background-image: url("../patient\ pic/ima1.png");
    border-radius: 15px;
}

.box-img4{
    height: 200px;
    width: 350px;
    align-content: center;
    background-image: url("../patient\ pic/imaappoint.jpg");
    border-radius: 15px;
}
.box-img5{
    height: 220px;
    width: 340px;
    align-content: center;
    background-image: url("../patient\ pic/im11.jpg");
    border-radius: 15px;
}
.box-img6{
    height: 226px;
    width: 345px;
    align-content: center;
    background-image: url("../patient\ pic/im10.jpg");
    border-radius: 15px;
}
.box-img7{
    height: 227px;
    width: 344px;
    justify-content: center;
    background-image: url("../patient\ pic/imadoctor.jpg");
    border-radius: 15px;
}
.box-img8{
    height: 227px;
    width: 347px;
    align-content: center;
    background-image: url("../patient\ pic/im13.jpg");
    border-radius: 15px;
}




