@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');  
 *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppies',sans-serif;
 }
 body{
  background: url(services.jpg) no repeat;
 }

  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  /* .logo{
    font-size: 3rem;
    color:#162938;
    user-select:none
  } */
  /* .navigation a{
     flex-direction: column;
     position: relative;
     justify-content: space-around;
     font-size: 1.5rem;
     color:#162938;
     text-decoration: none;
     font-weight: 600;
     margin-left: 40px;
  }
  .navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
  }
  .navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
  }
  .navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #162938;
    font-weight: 400;
    margin-left: 40px;
    transition: .5s;
  } */
  /* .navigation .btnLogin-popup:hover{
    background: #162938;
    color:#fff;
  } */
 
  .wrapper{
    position:relative;
    width: 400px;
    height: 400px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    transform: scale(0);
    transition:transform .5s ease, height .2s ease;
    transition:transform .5s ease, width .2s ease;
  }
  .wrapper.active-popup{
    transform: scale(1);
  }
  .wrapper.active{
    height: 520px;
    width: 400px;
  }
  .wrapper .form-box{
    width: 80%;
    padding: 40px;
    align-self: center;
  }
  .wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
  }
  .wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
  }
  .wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
  }
  .wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
  }
  .wrapper .icon-close{
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: #fff;
  font-size: 1.2em;
  color: #162938;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}
  .form-box h2{
    font-size: 2rem;
    color: #fff;
    text-align: center;
  }
  .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
    text-align: center;
  }
  .input-box label{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    font-weight: 400;
    pointer-events: none;
    transition: .5s;
  }
  .input-box input:focus~label,
  .input-box input:valid~label{
    top: -5px;
  }
  .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    padding: 0 35px 0 5px;
  }
  .input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #fff;
    line-height: 57px;
  }
.remember-forgot{
  font-size: .9em;
  color: #fff;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.remember-forgot input label{
  accent-color: #fff;
  margin-right: 3px;
}
.remember-forgot a{
  color: #fff;
  text-decoration: none;
}
.remember-forgot a:hover{
  text-decoration: underline;
}
.btn{
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #162938;
  font-weight: 500;
}
.login-register{
  font-size: .9em;
  color: #fff;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}
.login-register p a{
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
.login-register p a:hover{
  text-decoration: underline;
}

section{
  min-height: 200vh;
  padding: 2rem 9% 2rem;
}
 .loginpage{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    /* background: url(background3.jpg) no-repeat; */
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
 }
 .home-content{
  max-width: 100rem;
}
.about{
  display:inline-table;
  justify-content: center;
  align-self: center;
  /* background: url(background1.jpg) no-repeat; */
  backface-visibility: hidden;
  background-size: cover;
  background-position: center;
  min-height: 200vh;
}
.about h1{
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3;
}
.about .heading span{
  color: #fff;
}
.about .heading span:hover{
  color: #162938;
  transition: .2s;
}
.about-content p{
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
}
.btn-box{
  position:absolute baseline;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
}
.btn-box .btn{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 80%;
  background: transparent;
  border: .2rem solid #162938;
  border-radius: .8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: .1rem;
  color: #162938;
  z-index: 1;
  overflow: hidden;
  transition: 1s;
}
.btn-box .btn:hover{
  color: #00abf0;
}
.btn-box .btn::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #162938;
  z-index: -1;
  transition: .5s;
}
.btn-box .btn:hover::before{
  width: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100&family=K2D:wght@100&family=Teko:wght@300&display=swap');

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'K2D', sans-serif;
} */
/* .services{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    min-height: 250vh;
    background:url(services.jpg) no-repeat;
    background-size: cover;
    flex-direction: column;
}
.services h1{
  font-size: 35px;
  font-weight: 800;
}
.services h1 span{
  color: #0073ff;
}
.services h3 {
  color: #041223;
  font-stretch: semi-expanded;
}
.services p{
  font-style: italic;
  text-align: left;
  text-justify:newspaper;
  font-size: 25px;
}
.card{
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    height: 530px;
    width: 400px;
    margin-top: 100px ;
    
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}
.swiper{
    width: 100%;
}
.services{
    position: relative;
    justify-content: center;
    width: 90%;
    display: flex;
    align-items: center;
    height: 100vh;
}

.services .card .image{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: #fff;
    box-shadow: 0px -1px 4px 2px rgba(0, 0, 0, 0.25);
}
.services .card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}
.box1{
    position: absolute;
    width: 100%;
    height: 50%;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(106.32deg, #f3a60f 14.23%,
    rgba(255, 25, 25, 0) 139.97%);
}
.box2{
    position: absolute;
    width: 100%;
    height: 50%;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(106.32deg, #00c2ff 14.23%,
    rgba(255, 25, 25, 0) 139.97%);
}
.box3{
    position: absolute;
    width: 100%;
    height: 50%;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(106.32deg, #f30fdd 14.23%,
    rgba(255, 25, 25, 0) 139.97%);
}
.card .media-icons{
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card .media-icons i{
    color: #141313;
    opacity: 0.7;
    margin-top: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.card .media-icons i:hover{
    color: #fff;
    opacity: 1;
}
.card .name-address-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.name-address-contact .name{
    font-size: 20px;
    font-weight: 600;
    color: #222;
}
.name-address-contact .address{
    font-size: 15px;
    font-weight: 500;
    color: #333;
}
.name-address-contact .Contact{
    background: transparent;
}
.card .rating{
    display: flex;
    align-items: center;
    margin-top: 8px;
}
.card .rating i{
    font-size: 18px;
    margin: 20px 2px;
    color: orange;
}
.services .card .aboutcard{
    display: flex;
    text-align: center;
    color: #444;
    margin-top: 5px;
    margin-bottom: 5px; 
}
.aboutcard p{
  text-align: center;
  font-size: 20px;
  font-style: normal;
}
.card .button{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 5px;
}
.card .b1 button{
    background: #f3a323;
}
.card .b2 button{
    background: #14bff2;
}
.card .b3 button{
    background: #f337e2;
}
.card .button button{
    outline: none;
    border: none;
    color: #fff;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.card .button button:hover{
    color: #b809a6;
    opacity: 0.5;
}
.swiper-pagination{
    position:absolute;
    /* top: 600px; */
    /* bottom: 100px;
}
.swiper-pagination-bullet{
    height: 10px;
    width: 15px;
    border-radius: 25px;
    background: #e634d7;
}
.swiper-button-next, .swiper-button-prev{
    padding-bottom: 1em;
    opacity: 0.7;
    color: #e634d7;
    transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
    opacity: 1;
    color: #e634d7;
}

.contact{
  position: relative ;
  width: 90%;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(contactimg.png) no-repeat;
  background-size: cover;
}
.contact .content{
  max-width: 800px;
  text-align: center;
}
.contact .content h2{
  font-size: 40px;
  font-weight: 500;
  color: #fff;
}
.contact .content p{
  font-weight: 800;
  color: #fff;
}
.contact .container{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container .contactInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container .contactInfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container .contactInfo .box .icon{
  min-width: 40px;
  height: 40px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}
.container .contactInfo .box .icon:hover{
  background: #fff;
}
.container .contactInfo .box .icon .text{
  display: flex;
  margin-left: 20px;
  font-size: 18px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}
.contactForm{
  width: 40%;
  padding: 40px;
  background: #fff;
}
.container .contactInfo .box .text h3{
  font-weight: 400;
  color: #fff;
}
.contactForm h2{
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contactForm .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
  color: #141313;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
  width: 100px;
  justify-content: center;
  align-items: center;
  background: #00bcd4;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  color: #fff;
}
.contactForm .inputBox input[type="submit"]:hover{
  background: #043e54;
}
@media (max-width: 1000px)
{
  .contact
  {
     padding: 50px;
  }
  .container
  {
    flex-direction: column;
  }
  .container .contactInfo{
    margin-bottom: 40px;
  }
  .container .contactInfo{
    width: 100%;
  }
  .services{
    padding: 50px;
  }
  .card{
    flex-direction: column;
    width: 100%;
  }
  .card .card-content{
    text-overflow: none;
  }
  .about{
    padding: 100px;
  }
  .about p{
    flex-wrap: wrap;
  }
} */ 